[package]
name = "clvmr"
version = "0.1.23"
authors = ["Richard Kiss <him@richardkiss.com>"]
edition = "2018"
license = "Apache-2.0"
description = "Implementation of `clvm` for Chia Network's cryptocurrency"
homepage = "https://github.com/Chia-Network/clvm_rs/"
repository = "https://github.com/Chia-Network/clvm_rs/"
readme = "README.md"

[lib]
name = "clvmr"
crate-type = ["rlib"]

[profile.release]
lto = true

[dependencies]
hex = "=0.4.3"
lazy_static = "=1.4.0"
num-bigint = "=0.4.3"
num-traits = "=0.2.15"
num-integer = "=0.1.45"
bls12_381 = "=0.7.0"
sha2 = "=0.10.2"
openssl = { version = "=0.10.40", features = ["vendored"], optional = true }
