
name: Run benchmarks

on:
  push:
    branches:
      - main
      - dev
    tags:
        - '**'
  pull_request:
    branches:
      - '**'

jobs:
  benchmark:
    name: Benchmark on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 1

    - uses: actions/setup-python@v2
      name: Install Python 3.9
      with:
        python-version: 3.9

    - name: Update pip
      run: |
          python -m pip install --upgrade pip

    - name: Set up rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    - name: Install dependencies
      run: |
        python -m pip install maturin

    - name: Build Windows
      if: startsWith(matrix.os, 'windows')
      run: |
        python -m venv venv
        . .\venv\Scripts\Activate.ps1
        ln -s venv\Scripts\Activate.ps1 activate
        git clone https://github.com/Chia-Network/clvm_tools.git --branch=develop --single-branch
        python -m pip install ./clvm_tools
        maturin develop --release

    - name: Run benchmarks (Windows)
      if: startsWith(matrix.os, 'windows')
      run: |
        . .\venv\Scripts\Activate.ps1
        python benchmark/run-benchmark.py

    - name: Build
      if: ${{ !startsWith(matrix.os, 'windows') }}
      run: |
        python -m venv venv
        ln -s venv/bin/activate
        . ./activate
        git clone https://github.com/Chia-Network/clvm_tools.git --branch=develop --single-branch
        python -m pip install ./clvm_tools
        maturin develop --release

    - name: Run benchmarks
      if: ${{ !startsWith(matrix.os, 'windows') }}
      run: |
        . ./activate
        python benchmark/run-benchmark.py

