
name: Run benchmarks

on:
  push:
    branches:
      - main
      - dev
    tags:
        - '**'
  pull_request:
    branches:
      - '**'

jobs:
  benchmark:
    name: Benchmark on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 1

    - uses: actions/setup-python@v4
      name: Install Python ${{ matrix.python-version }}
      with:
        python-version: ${{ format('{0}.0-alpha - {0}.X', matrix.python-version) }}

    - name: Update pip
      run: |
          python -m pip install --upgrade pip

    - name: Set up rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    - name: Install dependencies
      run: |
        python -m pip install maturin
        rustup target add x86_64-unknown-linux-musl

    - name: Build Windows
      if: startsWith(matrix.os, 'windows')
      run: |
        python -m venv venv
        . .\venv\Scripts\Activate.ps1
        ln -s venv\Scripts\Activate.ps1 activate
        git clone https://github.com/Chia-Network/clvm_tools.git --branch=main --single-branch
        python -m pip install ./clvm_tools
        python -m pip install colorama
        maturin develop -m wheel/Cargo.toml --release

    - name: Run benchmarks (Windows)
      if: startsWith(matrix.os, 'windows')
      run: |
        . .\venv\Scripts\Activate.ps1
        python benchmark/run-benchmark.py

    - name: Build
      if: ${{ !startsWith(matrix.os, 'windows') }}
      env:
        CC: gcc
      run: |
        python -m venv venv
        ln -s venv/bin/activate
        . ./activate
        git clone https://github.com/Chia-Network/clvm_tools.git --branch=main --single-branch
        python -m pip install ./clvm_tools
        python -m pip install colorama
        maturin develop -m wheel/Cargo.toml --release --features=openssl

    - name: Run benchmarks
      if: ${{ !startsWith(matrix.os, 'windows') }}
      run: |
        . ./activate
        python benchmark/run-benchmark.py

  max-cost-checks:
    name: Cost checks
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 1

    - uses: actions/setup-python@v2
      name: Install Python ${{ matrix.python-version }}
      with:
        python-version: ${{ format('{0}.0-alpha - {0}.X', matrix.python-version) }}

    - name: Update pip
      run: |
          python -m pip install --upgrade pip

    - name: Set up rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    - name: Install dependencies
      run: |
        python -m pip install maturin
        rustup target add x86_64-unknown-linux-musl

    - name: Build Windows
      if: startsWith(matrix.os, 'windows')
      run: |
        python -m venv venv
        . .\venv\Scripts\Activate.ps1
        ln -s venv\Scripts\Activate.ps1 activate
        git clone https://github.com/Chia-Network/clvm_tools.git --branch=main --single-branch
        python -m pip install ./clvm_tools
        python -m pip install colorama
        maturin develop -m wheel/Cargo.toml --release

    - name: Run cost checks
      if: startsWith(matrix.os, 'windows')
      run: |
        . .\venv\Scripts\Activate.ps1
        cd tests
        ./generate-programs.py
        ./run-programs.py

    - name: Build
      if: ${{ !startsWith(matrix.os, 'windows') }}
      env:
        CC: gcc
      run: |
        python -m venv venv
        ln -s venv/bin/activate
        . ./activate
        git clone https://github.com/Chia-Network/clvm_tools.git --branch=main --single-branch
        python -m pip install ./clvm_tools
        python -m pip install colorama
        maturin develop -m wheel/Cargo.toml --release --features=openssl

    - name: Run cost checks
      if: ${{ !startsWith(matrix.os, 'windows') }}
      run: |
        . ./activate
        cd tests
        ./generate-programs.py
        ./run-programs.py

