name: Build npm package

on:
  push:
    branches:
      - main
      - dev
    tags:
        - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build_crate:
    name: NPM
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up rusts
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        components: rustfmt, clippy

    - name: Set up rust (stable)
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        components: rustfmt, clippy

    - name: fmt (stable)
      run: cargo +stable fmt -- --files-with-diff --check
    - name: clippy (stable)
      run: cargo +stable clippy
    - name: tests
      run: cargo test && cargo test --release
    - name: build
      run: cargo build --release
    - name: dry-run of `cargo publish`
      run: cargo publish --dry-run

    - name: install wasm-pack
      run: cargo install wasm-pack

    - name: wasm-pack build and pack
      run: wasm-pack build --release --target=nodejs wasm && wasm-pack pack wasm

    - name: Setup Node 16.x
      uses: actions/setup-node@v3
      with:
        node-version: '16.x'

    - name: Test wasm
      run: node wasm/tests/index.js

    - name: Upload npm pkg artifacts
      uses: actions/upload-artifact@v2
      with:
        name: npm-pkg
        path: ./wasm/pkg/clvm_wasm-*.tgz

    - name: publish to npmjs.com if tagged
      if: startsWith(github.event.ref, 'refs/tags')
      uses: JS-DevTools/npm-publish@v1
      with:
        token: ${{ secrets.node_auth_token }}
        package: wasm/pkg/package.json
