name: Build ARM64 wheels on ubuntu-latest

on:
  push:
    branches:
      - main
      - dev
    tags:
      - "**"
  pull_request:
    branches:
      - "**"

permissions:
  contents: read
  id-token: write

jobs:
  build_wheels:
    name: Build ARM64 Python Wheels
    runs-on: [ARM64, Linux]
    container:
      image: ghcr.io/chia-network/build-images/centos-pypa-rust-aarch64:latest

    steps:
      - uses: Chia-Network/actions/clean-workspace@main

      - uses: chia-network/actions/setup-python@main
        name: Install Python 3.10
        with:
          python-version: "3.10"

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Setup for python wheel build
        run: |
          echo "${PATH}"
          yum -y install openssl-devel
          source /root/.cargo/env
          rustup default stable
          rustup target add aarch64-unknown-linux-musl
          rm -rf venv
          export PATH="${PATH}:/opt/python/cp310-cp310/bin/"

      - name: Build Python wheels
        run: |
          cd wheel
          python -m venv venv
          if [ ! -f "activate" ]; then ln -s venv/bin/activate; fi
          . ./activate
          pip install maturin
          CC=gcc maturin build --release --strip --manylinux 2_28 --no-sdist --cargo-extra-args=--all-features

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: wheels
          path: target/wheels/

      - name: Install setuptools_rust
        run: |
          if [ ! -f "venv" ]; then sudo rm -rf venv; fi
          sudo apt-get install python3-venv python3-pip -y
          python3 -m venv venv
          if [ ! -f "activate" ]; then ln -s venv/bin/activate; fi
          . ./activate
          pip install setuptools_rust

      - name: publish (PyPi)
        if: startsWith(github.event.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: target/wheels/
          skip-existing: true

      - name: Clean up AMR64
        if: startsWith(matrix.os, 'ARM64')
        run: |
          rm -rf venv
          rm -rf dist
