name: Build rust crate

on:
  push:
    branches:
      - main
      - dev
    tags:
      - "**"
  pull_request:
    branches:
      - "**"

permissions:
  contents: read
  id-token: write

jobs:
  build_crate:
    name: Crate
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up rusts
        uses: dtolnay/rust-toolchain@1.89.0

      - name: fmt
        run: cargo fmt --all -- --files-with-diff --check

      - name: clippy
        run: cargo clippy --workspace --all-features --all-targets -- -D warnings

      - name: Install cargo-machete
        run: cargo install cargo-machete

      - name: Unused dependencies
        run: cargo machete

      - name: tests
        run: cargo test --workspace --all-features && cargo test --workspace --all-features --release

      - name: build
        run: cargo build --workspace --all-features --release

      - name: Install cargo-workspaces
        run: cargo install cargo-workspaces --locked

      - name: Publish (dry run)
        run: cargo ws publish --publish-as-is --dry-run

      - uses: rust-lang/crates-io-auth-action@v1
        if: startsWith(github.event.ref, 'refs/tags')
        id: auth

      - name: publish to crates.io if tagged
        if: startsWith(github.event.ref, 'refs/tags')
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: cargo ws publish --publish-as-is
