name: Prettier

on:
  push:
    branches:
      - main
      - dev
    tags:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6

      - name: Install dependencies
        run: npm install

      - name: Run Prettier
        run: npm run prettier
